@{
    ViewData["Title"] = "dotDis";
}
@section head
{
    <script src="js/ws.js"></script>
}
<main>
    <textarea id="field-mesg-input"></textarea>
    <button id="button-send" onclick="sendMesg()">Send</button>
</main>
