@using DAL
@{
    ViewData["Title"] = "dotDis";
    //User activeUser = (User)ViewData["active-user"];
}
@section head
{
    <script src="js/class.js"></script>
    <!--script src="js/webSocket.js"></script-->
    <link rel="stylesheet" href='@Url.Content("~/css/stylesheet.css")'/>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <script src="https://kit.fontawesome.com/6e774c561d.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap" rel="stylesheet">
}
<nav>
    <div id="panel-friend" class="panel">
        <div class="group">Generals</div>
        <div>
            <div class="entry clickable">
                
                <div class="name">Overview</div>
            </div>
            <div class="entry clickable">
                
                <div class="name">Notification</div>
            </div>
            <div class="entry clickable">
                
                <div class="name">Roles</div>
            </div>
            <div class="entry clickable">
                
                <div class="name">Invitation</div>
            </div>
        </div>
    </div>
    <div id="panel-room" class="panel">
        <div class="group">Users</div>
        <div>
            <div class="entry clickable">
                
                <div class="name">Members</div>
            </div>
            <div class="entry clickable">
                
                <div class="name">Bans</div>
            </div>
        </div>
    </div>
</nav>
<main>
    <div id="topbar">
        <div id="chat-info">
            <span id="chat-name">Room Settings</span>
        </div>
    </div>
    <div id="pane-setting" class="pane-right">
        <div id="setting-overview">

        </div>
        <div id="setting-notification">
            
        </div>
        
        @if((int)ViewData["perm"] > RoomDAO.PERM_MOD)
        {
            <div id="setting-roles">
            
            </div>
            <div id="setting-invitation">
                
            </div>
            <div id="setting-members">
                <table>
                    @foreach(Models.User user in (List<User>)ViewData["member-list"])
                    {
                        <tr>
                            <td>
                                <img class="avatar" src="/img/avatar.png"/>
                                <div class="member-name">user.Name</div>
                            </td>
                            <td>
                                @if (user.Perm == RoomDAO.PERM_FULLACS)
                                {
                                    <text>Admin</text>
                                } else 
                                {
                                    <select>
                                        @if(user.Perm == RoomDAO.PERM_MOD){ <option value="10" selected>Moderator</option> }
                                        else { <option value="10" >Moderator</option> }
                                        @if(user.Perm == RoomDAO.PERM_DEFAULT){ <option value="1" selected>Group</option> }
                                        else { <option value="1" >Group</option> }
                                        
                                    </select>
                                }
                            </td>
                            <td>
                                <div class="bt-kick"><i class="fas fa-minus-circle"></i></div>
                            </td>
                        </tr>
                    }
                </table>
            </div>
            <div id="setting-bans">
            
            </div>
        }
        
    </div>
</main>