$color-grey-dark: #777;
$color-grey1: #72767d;

$color-background-login: #36393f;

$color-authinput-label: #8e9297;

$color-light-blue1: #7289da;

$light-green: #7ed56f;
$medium-green: #55c57a;
$dark-green: #28b485;
$color-grey-dark-3: #333;

$main-blue-color1: #2a5ee8;
$main-blue-color2: #a2b1dd;
