@{
ViewData["Title"] = "Login";
}

<body>
    <main class="login">
        <form class="login__form login__form--login" asp-action="Authorize" method="POST">
            <div class="login__form__content">
                <div>
                    <h3 class="text__header__primary">
                        Welcome back!
                    </h3>
                    <h4 class="text__header__secondary">
                        We're so excited to see you again!
                    </h4>
                    <div class="auth__input__wrapper">
                        <label class="auth__input--label" for="username">Email or Phone number</label>
                        <input class="auth__input--input" id="username" type="text" name="username">
                    </div>
                    <div class="auth__input__wrapper">
                        <label class="auth__input--label" for="password">password</label>
                        <input class="auth__input--input" id="password" type="password" name="passwd">
                    </div>
                    <div class="login__form--forgot-password-wrapper">
                        <a class="login__form--forgot-password" href="#">Forgot your password?</a>
                    </div>
                    <button class="login__form__submit--btn">
                        <div id="auth-loading" class="snippet" data-title=".dot-flashing">
                            <div class="stage">
                                <div class="dot-flashing"></div>
                            </div>
                        </div>
                        <div onclick="handlePressAuthBtn()" id="auth-text" class="login__form__submit--text">
                            Login
                        </div>
                    </button>
                    <div>
                        <span class="login__form--register-label">Need an account?</span>
                        <a class="login__form--register-link" href="/Register">Register</a>
                    </div>
                </div>
        </form>
    </main>
</body>
<script src='@Url.Content("~/js/loginPage.js")'></script>