@{
    ViewData["Title"] = "Login";
}
<body>
    <header>
        Login
    </header>
    <main>
        <form id="login-form" asp-action="Authorize" method="POST">
            <input type="text" name="username" placeholder="Username or Email"><br />
            <input type="password" name="passwd" placeholder="Password"><br />
            <input type="submit" value="Login">
        </form>
    </main>
</body>

