@{
ViewData["Title"] = "Home Page";
}

<body>
    <div class="navigation">
        <input type="checkbox" class="navigation__checkbox" id="navi-toogle">
        <label for="navi-toogle" class="navigation__button">
            <span class="navigation__icon">
                &nbsp;
            </span>
        </label>

        <div class="navigation__background">&nbsp;</div>

        <nav class="navigation__nav">
            <ul class="navigation__list">
                <li class="navigation__item">
                    <a href="#" class="navigation__link"><span>01</span>Start now</a>
                </li>
                <li class="navigation__item">
                    <a href="#" class="navigation__link"><span>02</span>Why Discord?</a>
                </li>
                <li class="navigation__item">
                    <a href="#" class="navigation__link"><span>03</span>Safety use</a>
                </li>
                <li class="navigation__item">
                    <a href="#" class="navigation__link"><span>04</span>About us</a>
                </li>
                <li class="navigation__item">
                    <a href="#" class="navigation__link"><span>05</span>Contact</a>
                </li>
            </ul>
        </nav>
    </div>
    <header class="home__header">
        <div class="home__header__logo-box">
            <img src='@Url.Content("~/img/logo1.png")' alt="logo" class="home__header__logo">
        </div>
        <div class="home__header--content">
            <h1 class="home__header--content--title">
                Your place to talk
            </h1>
            <p class="home__header--content--description">
                Whether you’re part of a school club, gaming group, worldwide art community, or just a handful of
                friends that want to spend time together, Dodis makes it easy to talk every day and hang out more
                often.
            </p>

            <a href="chat" class="btn btn--white btn-animated u-margin-top-medium">
                Start Chatting now
            </a>
        </div>
    </header>
    <main style="height: 100%;">
        <section class="home__section home__section--1">
            <div>
                <img class="home__section--1--image" src='@Url.Content("~/img/home__section_image.svg")' alt="">
            </div>
            <div></div>
            <div class="home__section--1--content">
                <div>
                    <h2 class="home__section--1--title heading-secondary">An invite-only place with plenty of room to
                        talk</h2>
                    <p class="home__section--1--description">
                        Dodis servers are organized into topic-based channels where you can collaborate, share, and just
                        talk about your day without clogging up a group chat.
                    </p>
                </div>
            </div>
            <div></div>
        </section>
        <section class="home__section home__section--2">
            <div class="home__section home__section--2--wrapper">
                <div class="feature-box">
                    <i class="feature-box__icon icon-basic-world"></i>
                    <h3 class="heading-tertiary u-margin-bottom-small">
                        Chat de
                    </h3>
                    <p class="feature-box__text">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet, repellat ea natus
                        reiciendis
                    </p>
                </div>
                <div></div>
                <div class="feature-box">
                    <i class="feature-box__icon icon-basic-compass"></i>
                    <h3 class="heading-tertiary u-margin-bottom-small">
                        Chat de
                    </h3>
                    <p class="feature-box__text">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet, repellat ea natus
                        reiciendis
                    </p>
                </div>
                <div></div>
                <div class="feature-box">
                    <i class="feature-box__icon icon-basic-map"></i>
                    <h3 class="heading-tertiary u-margin-bottom-small">
                        Chat de
                    </h3>
                    <p class="feature-box__text">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet, repellat ea natus
                        reiciendis
                    </p>
                </div>
                <div></div>
                <div class="feature-box">
                    <i class="feature-box__icon icon-basic-heart"></i>
                    <h3 class="heading-tertiary u-margin-bottom-small">
                        Chat de
                    </h3>
                    <p class="feature-box__text">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet, repellat ea natus
                        reiciendis
                    </p>
                </div>
            </div>

        </section>
        <section class="home__section home__section--3">
            <div></div>
            <div class="home__section--1--content">
                <div>
                    <h2 class="home__section--1--title heading-secondary">An invite-only place with plenty of room to
                        talk</h2>
                    <p class="home__section--1--description">
                        Dodis servers are organized into topic-based channels where you can collaborate, share, and just
                        talk about your day without clogging up a group chat.
                    </p>
                </div>
            </div>
            <div></div>
            <div>
                <img class="home__section--1--image" src='@Url.Content("~/img/home__section_image.svg")' alt="">
            </div>
        </section>
    </main>
    <footer class="footer">
        <div class="footer__logo-box">
            <img src='@Url.Content("~/img/logo1.png")'>
            <!-- <picture class="footer__logo">
                <source srcset="" media="(max-width:37.5rem)">
                <img srcset="img/logo-green-2x.png 1x, img/logo-green-2x.png 2x" alt="Full logo">
            </picture> -->
        </div>
        <div class="footer__navigation--wrapper">
            <div>
                <div class="footer__navigation">
                    <ul class="footer__list">
                        <li class="footer__item">
                            <a href="#" class="footer__link">Company</a>
                        </li>
                        <li class="footer__item">
                            <a href="#" class="footer__link">Company</a>
                        </li>
                        <li class="footer__item">
                            <a href="#" class="footer__link">Company</a>
                        </li>
                        <li class="footer__item">
                            <a href="#" class="footer__link">Company</a>
                        </li>
                        <li class="footer__item">
                            <a href="#" class="footer__link">Company</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div>
                <p class="footer__copyright">
                    Built by <a href="#" class="footer__link">Dotdis Team</a>
                </p>
            </div>
        </div>


    </footer>
</body>