@{
    ViewData["Title"] = "UI Page";
}
<body>
    <nav>
        <div class="nav-entry">
            Entry 1
        </div>
        <div class="nav-entry">
            Entry 2
        </div>
        <div class="nav-entry">
            Entry 3
        </div>
    </nav>
    <main>
        <div>
            <span>CHANNEL_NAME</span>
        </div>
    </main>
</body>