#box-dialog-bg{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    background-color: var(--blur);
    backdrop-filter: blur(5px);
}
.dialog-wrapper{
    background-color: var(--background-color);
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    min-height: 300px;
    width: 400px;
    box-shadow: var(--shadow);
    border-radius: 1rem;
    overflow: hidden;
}
.box-dialog{
    position: absolute;
    display: inline-block;
    width: 100%;
    border-radius: 1rem 1rem 0 0;
    padding: 1rem;
    min-height: calc(300px - 3rem);
    transition: left 0.5s;
}
#box-add-room{
    left: 0;
}
#box-create-room, #box-join-room{
    left: 100%;
}
.dialog-header{
    font-weight: 600;
    text-align: center;
    height: 2rem;
}
.dialog-bt-long{
    width: 100%;
    height: 3rem;
    line-height: 3rem;
    border-radius: .5rem;
    margin: 0.4rem 0;
    padding: 0 1rem;
}
.dialog-grid-container{
    display: grid;
    grid-template-columns: auto auto;
    min-height: 3rem;
    padding: 0.4rem 0;
    overflow: overlay;
}
.dialog-container{
    max-height: 9rem;
    overflow: overlay;
}
.dialog-grid-cell span{
    line-height: 3rem;
    padding-right: 1rem;
}
.dialog-grid-cell input{
    background-color: var(--background-color-darker);
    height: 2rem;
    width: 100%;
    border-radius: .5rem;
    padding: 0 1rem;
    margin: .5rem 0;
}
.dialog-grid-cell input:focus{
    outline: none;
}
.dialog-panel .margin-col{
    width: .5rem;
}
.box-hr{
    width: 100%;
    background-color: var(--line);
    height: 1px;
}
.box-dialog-nav{
    border-radius: 0 0 1rem 1rem;
    padding: 0 1rem;
    height: 3rem;
    position: absolute;
    bottom: 0;
    width: 100%;
}
.dialog-bt-nav{
    position: relative;
    display: inline-block;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    padding: .5rem;
    text-align: center;
}
#dialog-bt-ok{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
#dialog-bt-cancel{
    position: absolute;
    right: 1rem;
}

.found-user{
    border-radius: .5rem;
}
.found-user-name{
    display: inline-block;
    line-height: 3rem;
}