.home {
  &__header {
    height: 95vh;
    background-image: linear-gradient(
        to right bottom,
        rgba($main-blue-color1, 0.8),
        rgba($main-blue-color2, 0.8)
      ),
      url(../../img/login_background.jpg);
    background-size: cover;
    background-position: top;
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    position: relative;

    &--title {
    }

    &--description {
    }
  }
}
