*,
a::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // Define 1rem = 10px
  font-size: 62.5%;
  scroll-behavior: smooth;
  font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
  box-sizing: border-box;
}
